<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570523249460-urdfdd7vg66f0q290uu600a8f4q6q8te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570523249460-urdfdd7vg66f0q290uu600a8f4q6q8te</string>
	<key>API_KEY</key>
	<string>AIzaSyDczHqPFI2mVHqpL9opwTKOsIqyje5rvL8</string>
	<key>GCM_SENDER_ID</key>
	<string>570523249460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>task-bdb4a</string>
	<key>STORAGE_BUCKET</key>
	<string>task-bdb4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570523249460:ios:d0f49db635991341d21361</string>
</dict>
</plist>